
body {
    text-align: center;
	font: italic normal 3em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
}

ul {
    list-style-type: none;
    padding: 0;
}

.bouy {
    text-align: center;
    style=50px 50px 50px 50px
   
}

}


.bouy1 { font-family: cursive ;
    color:goldenrod;
    font-size: 29px;

}

